#panel.solid,#panel
{
  height: 2em;
  background-image: url("YOURHOME/.local/share/backgrounds/blurred_panel.jpg"); 
  background-repeat: no-repeat;
  background-size: cover
   }

  #panel.unlock-screen, #panel.login-screen, #panel:overview {
    background-color: transparent; 
    background-image: none;
   }

#overviewGroup {
  background-image: url("YOURHOME/.local/share/backgrounds/blurred_fast.jpg"); 
  background-repeat: no-repeat;
  background-size: cover
  } 
